{# ----- THEME VARIABLES ----- #}
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{# Template aliases #}
{% set default_alias = ['default','page'] %}
{% set blog_alias = ['blog','folder','archive','index'] %}
{% set item_alias = ['item','post','article'] %}
{% set modular_alias = ['modular'] %}

{# ============================================================= #}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}"
itemscope itemtype="https://schema.org/Website">
<head>
{% block head %}

<!-- Browser Metadata -->
{% include 'partials/head/browsermeta.html.twig' %}

<!-- SEO Metadata -->
{% include 'partials/head/seo.html.twig' %}

<!-- Site Favicon -->
{% include 'partials/head/favicon.html.twig' %}

<!-- Site Assets -->
{% include 'partials/head/assets.html.twig' %}

{% endblock head %}
</head>
<body>

{% block header %}
  {% include 'partials/header.html.twig' %}
{% endblock header %}

<article>
{% block content %}
  {% include 'partials/content.html.twig' %}
{% endblock content %}
</article>

{% block pageflip %}
{% endblock pageflip %}

{# Grav Plugin - Breadcrumbs #}
{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block footer %}
  {% include 'partials/footer.html.twig' %}
{% endblock footer %}

{% block bottom %}
  {{ assets.js('bottom')|raw }}
{% endblock bottom%}

</body>
</html>
