{% include 'partials/variables.html.twig' %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}"
itemscope itemtype="https://schema.org/Website">
<head>
{% block head %}
  {% include 'partials/head.html.twig' %}
{% endblock head %}
</head>
<body>

{% block header %}
  {% include 'partials/header.html.twig' %}
{% endblock header %}

{% block content %}
<article>
  {% include 'partials/content.html.twig' %}
</article>
{% endblock content %}

{% block footer %}
  {% include 'partials/footer.html.twig' %}
{% endblock footer %}

{# Bottom block:
Grav Asset Manager's pre-defined block
for custom javascript initialization
or analytics
#}

{% block bottom %}
  {{ assets.js('bottom')|raw }}
{% endblock bottom%}

</body>
</html>
