{# ----- THEME VARIABLES ----- #}
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{# Template aliases #}
{% set default_alias = ['default','page'] %}
{% set blog_alias = ['blog','folder','archive','index'] %}
{% set item_alias = ['item','post','article'] %}
{% set modular_alias = ['modular'] %}

{# Author #}
{% if page.author.name %}
  {% set author_name = page.author.name %}
{% else %}
  {% set author_name = site.author.name %}
{% endif %}

{# ----- METADATA ----- #}
{# URLs #}
{% set canonical_url = page.url(true, true) %}

{# Favicon = favicon_file_url #}
{% set favicon = theme_config.media.favicon %}
{% set favicon_file = (favicon|first).name %}
{% if theme_config.media.favicon %} 
  {% set favicon_user_dir = url('user://images/') %}
  {% set favicon_file_url =  home_url|trim('/', 'right') ~ favicon_user_dir ~ favicon_file %}
{% else %}
  {% set favicon_default_file = url('theme://assets/image/favicon.png') %}
  {% set favicon_file_url = home_url|trim('/', 'right') ~ favicon_default_file  %}
{% endif %}

{# Title = meta_title #}
{% set page_title = page.title|e %}
{% set site_title = site.title|e %}
{% if page_title %}
  {% set meta_title = page_title ~ ' | ' ~ site_title %}
{% else %}
  {% set meta_title = site_title %}
{% endif %}

{# Toggle for both metadata description and header #}
{% if page.header.enable_subtitle is null %}
  {% set enable_subtitle = true %}
{% else %}
  {% set enable_subtitle = page.header.enable_subtitle %}  
{% endif %}

{# Description #}
{% if enable_subtitle and not page.home() %}
  {% set meta_description = page.summary|trim|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') %}
{% elseif site.metadata.description %}
  {% set meta_description = site.metadata.description %}
{% else %}
  {% set meta_description = "Join me on my growth and journey" %}
{% endif %}

{# Preview image #}
{# Site-level custom preview image #}
{% set site_preview_image = theme_config.media.site_preview_image %}
{% set site_preview_image_file = (site_preview_image|first).name %}
{# Page-level custom preview image #}
{% set page_preview_image = page.header.page_preview_image %}
{% set page_preview_image_file = (page_preview_image|first).name %}
{# Trigger for first image as page preview image #}
{% if page_preview_image %}
  {% set use_first_image = false %}
{% else %}
  {% set use_first_image = true %}
{% endif %}

{% if page.header.preview_image_enable and page_preview_image %}
  {# Load the custom page-level preview image #}
  {% set preview_image_url = canonical_url ~ page_preview_image_file %}
{% elseif use_first_image and page.media.items %}
  {# use the first image of the page as the page preview #}
  {% set first_image = (page.media|first).filename %}
  {% set preview_image_url = canonical_url ~ '/' ~ first_image %}
{% elseif theme_config.media.site_preview_image %}
  {# Load the custom site-level preview image defined in the theme settings #}
  {% set theme_user_dir =  url('user://images/') %}
  {% set preview_image_url = base_url_absolute|trim('/', 'right') ~ theme_user_dir ~ '/' ~ site_preview_image_file %}
{% else %}
  {# Load the default preview image bundled with the theme #}
  {% set default_preview_image_url =  url('theme://assets/image/preview-image.png') %}
  {% set preview_image_url = base_url_absolute|trim('/', 'right') ~ default_preview_image_url %} 
{% endif %}

{# Date Published #}
{% set date_published = page.date|date("F j, Y") %}

{# Template Toggles #}
{# Item - Attributes Placement #}
{% if page.header.place_attributes is null %}
  {% set item_attr_placement = theme_config.layout.item_place_attributes %}
{% else %}
  {% set item_attr_placement = page.header.place_attributes %}
{% endif %}

{# ============================================================= #}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}"
itemscope itemtype="https://schema.org/Website">
<head>
{% block head %}
  {% include 'partials/head.html.twig' %}
{% endblock head %}
</head>
<body>

{% block header %}
  {% include 'partials/header.html.twig' %}
{% endblock header %}

{% block content %}
<article>
  {% include 'partials/content.html.twig' %}
</article>
{% endblock content %}

{% block footer %}
  {% include 'partials/footer.html.twig' %}
{% endblock footer %}

{# Bottom block:
Grav Asset Manager's pre-defined block
for custom javascript initialization
or analytics
#}

{% block bottom %}
  {{ assets.js('bottom')|raw }}
{% endblock bottom%}

</body>
</html>
