{# ----- THEME VARIABLES ----- #}
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{# Template aliases #}
{% set default_alias = ['default','page'] %}
{% set blog_alias = ['blog','folder','archive','index'] %}
{% set item_alias = ['item','post','article'] %}
{% set modular_alias = ['modular'] %}

{# Toggle for both metadata description and header #}
{% if page.header.enable_subtitle is null %}
  {% set enable_subtitle = true %}
{% else %}
  {% set enable_subtitle = page.header.partials.header.subtitle.toggle %}  
{% endif %}

{# Placement for metadata attributes in item templates #}
{% if page.header.where is null %}
  {% set metadata_location = theme_config.partials.metadata.where %}
{% else %}
  {% set metadata_location = page.header.partials.metadata.where %}
{% endif %}

{# SEO #}

{# Title = meta_title #}
{% set page_title = page.title|e %}
{% set site_title = site.title|e %}
{% if page_title %}
  {% set meta_title = page_title ~ ' | ' ~ site_title %}
{% else %}
  {% set meta_title = site_title %}
{% endif %}

{# Canonical URL #}
{% set canonical_url = page.url(true, true) %}

{# Author #}
{% if page.author.name %}
  {% set author_name = page.author.name %}
{% else %}
  {% set author_name = site.author.name %}
{% endif %}

{# Description #}
{% if enable_subtitle and not page.home() %}
  {% set meta_description = page.summary|trim|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') %}
{% elseif site.metadata.description %}
  {% set meta_description = site.metadata.description %}
{% else %}
  {% set meta_description = "Join me on my growth and journey" %}
{% endif %}

{# Preview image #}
{# Site-level custom preview image #}
{% set site_featured_image = theme_config.media.featured_image.file %}
{% set site_featured_image_file = (site_featured_image|first).name %}
{# Page-level custom preview image #}
{% set page_featured_image = page.header.media.featured_image.file %}
{% set page_featured_image_file = (page_featured_image|first).name %}
{# Trigger for first image as page preview image #}
{% if page_featured_image %}
  {% set use_first_image = false %}
{% else %}
  {% set use_first_image = true %}
{% endif %}

{% if page.header.media.featured_image.file and page_featured_image %}
  {# Load the custom page-level preview image #}
  {% set featured_image_url = canonical_url ~ '/' ~ page_featured_image_file %}
{% elseif use_first_image and page.media.items %}
  {# use the first image of the page as the page preview #}
  {% set first_image = (page.media|first).filename %}
  {% set featured_image_url = canonical_url ~ '/' ~ first_image %}
{% elseif theme_config.media.site_featured_image %}
  {# Load the custom site-level preview image defined in the theme settings #}
  {% set theme_user_dir =  url('user://images/') %}
  {% set featured_image_url = base_url_absolute|trim('/', 'right') ~ theme_user_dir ~ '/' ~ site_featured_image_file %}
{% else %}
  {# Load the default preview image bundled with the theme #}
  {% set default_featured_image_url =  url('theme://assets/image/preview-image.png') %}
  {% set featured_image_url = base_url_absolute|trim('/', 'right') ~ default_featured_image_url %} 
{% endif %}

{# ===================================================== #}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}"
itemscope itemtype="https://schema.org/Website">
<head>
{% block head %}

<!-- Browser Metadata -->
{% include 'partials/head/browsermeta.html.twig' %}

<!-- SEO Metadata -->
{% include 'partials/head/seo.html.twig' %}

<!-- Site Favicon -->
{% include 'partials/head/favicon.html.twig' %}

<!-- Site Assets -->
{% include 'partials/head/assets.html.twig' %}

{% endblock head %}
</head>
<body>

{% block header %}
  {% include 'partials/header.html.twig' %}
{% endblock header %}

<article>
{% block content %}
  {% include 'partials/content.html.twig' %}
{% endblock content %}
</article>

{% block pageflip %}
{% endblock pageflip %}

{# Grav Plugin - Breadcrumbs #}
{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block footer %}
  {% include 'partials/footer.html.twig' %}
{% endblock footer %}

{% block bottom %}
  {{ assets.js('bottom')|raw }}
{% endblock bottom%}

</body>
</html>
