{# ITEM (i.e. blogposts)
   Part of recommended generic templates
   Preferred child template for
   BLOG directories
#}


{% embed 'partials/base.html.twig' %}

{% block content %}

{% include 'partials/content.html.twig' %}
{% if metadata_location == 'content_footer' %}
  <div class="content-footer">
  {% include 'partials/metadata.html.twig' %}
  </div>
{% endif %}
{% endblock content %}

{% block pageflip %}
  {% if page.parent.template() in blog_alias or
  (page.parent.header.content.items and
  page.parent.header.content.items != '@self.modular')
  %}
    {% include 'partials/pageflip.html.twig' %}
  {% endif %}
{% endblock pageflip %}

{% block breadcrumbs %}
  {% if config.plugins.breadcrumbs.enabled %}
    {% include 'partials/breadcrumbs.html.twig' %}
  {% endif %} 
{% endblock breadcrumbs %}

{% endembed %}
